{% extends "upper_buttons.html" %}

{% block buttons2 %}
    <div class="bg-dark">
        <a href="{% url 'tasks:follow_tasks' %}" class="btn btn-primary active" role="button"
           aria-pressed="true">Задачи</a>
        <a href="{% url 'tasks:add_follow_task' %}" class="btn btn-primary active" role="button" aria-pressed="true">Добавить
            задачу</a>
{#        <a href="{% url 'tasks:start_follow_task' %}" class="btn btn-primary active" role="button" aria-pressed="true">Запуск#}
{#            задачи на подписку</a>#}
    </div>
{% endblock %}