{% extends "vk_users/vk_users_main.html" %}
{% load static %}

{% block body %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Файл</th>
{#            <th scope="col">Ссылка</th>#}
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td><a href="{% get_media_prefix %}{{ file.file }}">{{ file.filename }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}