{% extends "upper_buttons.html" %}
{% load static %}

{% block body %}
{#    {% for file in files %}#}
{#        <a href="{% url 'vk_users:news_id' file.id %}">{{ file }}</a>#}
{#    {% endfor %}#}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td><a href="{% url 'vk_users:news_id' file.id %}">{{ file.name }}</a></td>
                <td>{{ file.body }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}